/* 1 */
svg > circle:nth-child(2), svg > circle:nth-child(3) {
    fill: #5f5f5f;
}

/* 2 */
svg > path:nth-child(4), svg > path:nth-child(5) {
    stroke: #5f5f5f;
    stroke-width: 8px;
}

/* 3 */
.small {
    fill: white;
}

/* 4 */
.contained .small {
    fill: #573d29;
}

/* 5 (8) */
.contained circle, .contained rect {
  fill: #c0c0c0;
  stroke: none;
  opacity: 1;
}

/* 6 */
#interactive {
    fill: #c0c0c0;
    stroke: #bd250d;
    stroke-width: 4px;
}

/* 7 */
#interactive:hover {
    fill: #bd250d;
}

/* 8 */
svg > rect {
  opacity: 0;
}

/* 9 */
path:last-of-type {
  stroke: none;
}